@model sistem_za_evidenciju_vozila_i_putnih_naloga.ViewModels.TWEditVM

@{
    var message = (string)TempData["message"];
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TravelWarrant</h4>
<hr />
@if (message != null)
{
    <div id="messageAlertId" class="alert alert-danger collapse">
        <a id="closeLinkId" href="#" class="close">&times;</a>
        <strong></strong> @message
    </div>

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TravelWarrantId" />
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                <input asp-for="Car" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label asp-for="Driver" class="control-label"></label>
                <input asp-for="Driver" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="StartLocation" class="control-label"></label>
                <input asp-for="StartLocation" class="form-control" />
                <span asp-validation-for="@Model.StartLocation" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="EndLocation" class="control-label"></label>
                <input asp-for="EndLocation" class="form-control" />
                <span asp-validation-for="@Model.EndLocation" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="NumberOfPassengers" class="control-label"></label>
                <input asp-for="NumberOfPassengers" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @if (Model.Status.ToString() == "Denied" || Model.Status.ToString() == "Completed")
                {
                    <input readonly asp-for="Status" class="form-control">
                }
                else
                {
                    <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<Status>()"></select>
                }

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#messageAlertId").show('fade');
            setTimeout(function () {
                $("#messageAlertId").hide('fade')
            }, 5000);
            $("#closeLinkId").click(function () {
                $("#messageAlertId").hide('fade');
            })
        });


    </script>
}
